In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, json, time
from tqdm.notebook import tqdm_notebook

In [2]:
import json
with open('/Users/justindevine/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key', 'api_read_access_token'])

In [3]:
import tmdbsimple as tmdb
tmdb.API_KEY = login['api-key']

In [4]:
# Create the folder for saving files (if it doesn't exist)
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)

# Show the list of files included in the folder
sorted(os.listdir(FOLDER))

['.ipynb_checkpoints',
 'create_movies_database.sql',
 'data-2.tsv',
 'data.tsv',
 'movie_basics',
 'movie_basics.csv',
 'movie_ratings',
 'movie_ratings.csv',
 'movies',
 'movies.mwb',
 'movies.mwb.bak',
 'movies.png',
 'title-akas-us-only.csv']

In [5]:
def get_movie_with_rating(movie_id):
    
    movie = tmdb.Movies(movie_id)
    

    movie_info = movie.info()
    releases = movie.releases()

    for c in releases['countries']:
        
        if c['iso_3166_1' ] =='US':
            
            movie_info['certification'] = c['certification']
    return movie_info


def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:

        file_data = json.load(file)

        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)

        file.seek(0)

        json.dump(file_data, file)

In [6]:
test = get_movie_with_rating("tt0848228")
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 135.948,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.711,
 'vote_count': 29291,
 'certification': 'PG-13'}

In [7]:
test2 = get_movie_with_rating("tt0332280")
test2

{'adult': False,
 'backdrop_path': '/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg',
 'belongs_to_collection': None,
 'budget': 29000000,
 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}],
 'homepage': 'http://www.newline.com/properties/notebookthe.html',
 'id': 11036,
 'imdb_id': 'tt0332280',
 'original_language': 'en',
 'original_title': 'The Notebook',
 'overview': "An epic love story centered around an older man who reads aloud to a woman with Alzheimer's. From a faded notebook, the old man's words bring to life the story about a couple who is separated by World War II, and is then passionately reunited, seven years later, after they have taken different paths.",
 'popularity': 65.944,
 'poster_path': '/rNzQyW4f8B8cQeg7Dgj3n6eT5k9.jpg',
 'production_companies': [{'id': 12,
   'logo_path': '/mevhneWSqbjU22D1MXNd4H9x0r0.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 1565, 'logo_path': None, 'name': 'Avery Pix', 'origin_country': 'US'},
  {'id': 2605,
   'logo_path': None,
   'name': 'Gran Via Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-06-25',
 'revenue': 115603229,
 'runtime': 123,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Behind every great love is a great story.',
 'title': 'The Notebook',
 'video': False,
 'vote_average': 7.881,
 'vote_count': 10696,
 'certification': 'PG-13'}

In [8]:
import pandas as pd
basics = pd.read_csv('Data/movie_basics.csv')
basics

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...,...
86974,10016149,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
86975,10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
86976,10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
86977,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
86978,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [9]:
basics = basics.drop(columns = 'Unnamed: 0')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
86974,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
86975,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
86976,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
86978,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [10]:
YEAR = 2001
errors = []

In [11]:
JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'

file_exists = os.path.isfile(JSON_FILE)

if file_exists == False:
    print(f"Creating {JSON_FILE} for API results for year={YEAR}.")
    
    with open(JSON_FILE,'w') as f:
        json.dump([{'imdb_id':0}],f)

else:
    print(f'The file {JSON_FILE} already exists.')

Creating Data/tmdb_api_results_2001.json for API results for year=2001.

In [12]:
df = basics.loc[ basics['startYear']==YEAR].copy()
movie_ids = df['tconst']
movie_ids.head()

0     tt0035423
10    tt0114447
14    tt0116916
18    tt0118589
19    tt0118652
Name: tconst, dtype: object

In [13]:
previous_df = pd.read_json(JSON_FILE)
previous_df

   imdb_id
0        0

In [14]:
movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

In [15]:
for movie_id in tqdm_notebook(movie_ids_to_get, f"Movies from {YEAR}"):
    
    try:
        temp = get_movie_with_rating(movie_id)  

        write_json(temp,JSON_FILE)
        
        time.sleep(0.02)

    except Exception as e:
        errors.append([movie_id, e])

Movies from 2001:   0%|          | 0/1576 [00:00<?, ?it/s]

In [16]:
print(f"- Total errors: {len(errors)}")

- Total errors: 217

In [17]:
final_year_df = pd.read_json(JSON_FILE)
csv_fname = f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz"
final_year_df.to_csv(csv_fname, compression="gzip", index=False)

In [18]:
YEAR = 2002
errors = []

In [19]:
JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'

file_exists = os.path.isfile(JSON_FILE)

if file_exists == False:
    print(f"Creating {JSON_FILE} for API results for year={YEAR}.")
    
    with open(JSON_FILE,'w') as f:
        json.dump([{'imdb_id':0}],f)

else:
    print(f'The file {JSON_FILE} already exists.')

Creating Data/tmdb_api_results_2002.json for API results for year=2002.

In [20]:
df = basics.loc[ basics['startYear']==YEAR].copy()
movie_ids = df['tconst']
movie_ids.head()

4     tt0096056
23    tt0118926
32    tt0119980
44    tt0120679
51    tt0120804
Name: tconst, dtype: object

In [21]:
# Load existing data from json into a dataframe called "previous_df"
previous_df = pd.read_json(JSON_FILE)
previous_df

   imdb_id
0        0

In [22]:
movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

In [23]:
for movie_id in tqdm_notebook(movie_ids_to_get, f"Movies from {YEAR}"):
    
    try:
        temp = get_movie_with_rating(movie_id)  

        write_json(temp,JSON_FILE)
        
        time.sleep(0.02)

    except Exception as e:
        errors.append([movie_id, e])

Movies from 2002:   0%|          | 0/1572 [00:00<?, ?it/s]

In [24]:
print(f"- Total errors: {len(errors)}")

- Total errors: 278

In [25]:
final_year_df = pd.read_json(JSON_FILE)
csv_fname = f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz"
final_year_df.to_csv(csv_fname, compression="gzip", index=False)

In [26]:
import glob
tmdb_files = sorted(glob.glob("Data/final_tmdb_data*.csv.gz"))
tmdb_files

['Data/final_tmdb_data_2001.csv.gz', 'Data/final_tmdb_data_2002.csv.gz']

In [29]:
df = pd.concat([pd.read_csv(f) for f in tmdb_files] )
df
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2655 entries, 0 to 1294
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2655 non-null   object
 1   adult                  2653 non-null   float64
 2   backdrop_path          1525 non-null   object
 3   belongs_to_collection  217 non-null    object
 4   budget                 2653 non-null   float64
 5   genres                 2653 non-null   object
 6   homepage               213 non-null    object
 7   id                     2653 non-null   float64
 8   original_language      2653 non-null   object
 9   original_title         2653 non-null   object
 10  overview               2593 non-null   object
 11  popularity             2653 non-null   float64
 12  poster_path            2411 non-null   object
 13  production_companies   2653 non-null   object
 14  production_countries   2653 non-null   object
 15  release_date           2629 non-null   object
 16  revenue                2653 non-null   float64
 17  runtime                2653 non-null   float64
 18  spoken_languages       2653 non-null   object
 19  status                 2653 non-null   object
 20  tagline                1153 non-null   object
 21  title                  2653 non-null   object
 22  video                  2653 non-null   float64
 23  vote_average           2653 non-null   float64
 24  vote_count             2653 non-null   float64
 25  certification          870 non-null    object
dtypes: float64(9), object(17)
memory usage: 560.0+ KB

In [30]:
df.to_csv('Data/tmdb_results_combined', compression = "gzip")